In [57]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [58]:
import os
import pandas as pd

In [121]:
journal = input('scientometrics / jasist')
entity = input('co-author / co-occurrence')

path = os.getcwd()
evaluation_path = path+"\\output prediction\\{}\\{}\\evaluation\\".format(journal, entity)
result_path = path+"\\output prediction\\{}\\{}\\result\\".format(journal, entity)
betweenness_path = path+"\\output prediction\\{}\\{}\\".format(journal, entity)+"edge_betweenness.txt"

scientometrics / jasistscientometrics
co-author / co-occurrenceco-occurrence

In [122]:
betweenness_path

'C:\\Users\\Liser\\Desktop\\linchengwei_link_prediction\\output prediction\\scientometrics\\co-occurrence\\edge_betweenness.txt'

# result

In [93]:
result = dict()

for f in os.listdir(result_path):
    df_iter = pd.read_csv(result_path+f, sep='\t', header=None)
    df_iter.columns=['keyword1', 'keyword2', f.split('.')[0]]
    result[f.split('.')[0]] = df_iter
    print(f)

AdamicAdar.txt
jaccard.txt
katz_beta001.txt
katz_beta01.txt

In [105]:
result['jaccard']

,keyword1,keyword2,jaccard
0,Soft fuzzy rough set,International co-authorships,1.000000
1,Infringement analysis,Convergence analysis,1.000000
2,Arctic studies,Antarctic studies,1.000000
3,Panel threshold regression,Panel smooth transition regression (PSTR),0.800000
4,Source normalized indicator,ACCA,0.750000
...,...,...,...
512426,Document types,Bibliometrics,0.001587
512427,Bibliometrics,Author disambiguation,0.001587
512428,Life-time,Bibliometrics,0.001580
512429,UK,Bibliometrics,0.001577
512430,Model,Bibliometrics,0.001570

In [104]:
result['katz_beta01'] # 7855073
result['katz_beta001'] # 7855073

                  keyword1                  keyword2  katz_beta001
0                    Italy         Citation analysis  2.184616e-04
1            Bibliometrics     Bibliometric analysis  1.879257e-04
2                  h-index                     Italy  1.576384e-04
3        Citation analysis                  Citation  1.359655e-04
4                Citations         Citation analysis  1.356957e-04
...                    ...                       ...           ...
7855068       ABS journals            90% percentile  1.000000e-15
7855069              A&HCI  Project 985" university"  1.000000e-15
7855070     90% percentile   6th Framework programme  1.000000e-15
7855071     90% percentile   6th Framework Programme  1.000000e-15
7855072               2001  Project 985" university"  1.000000e-15

[7855073 rows x 3 columns]

# evaluation

In [118]:
eva = dict()
for f in os.listdir(evaluation_path):
    df_iter = pd.read_csv(evaluation_path+f, sep=' ', header=None)
    df_iter.columns = ['tp', 'fp', 'fn', 'tn']
    eva[f.split('.')[0]] = df_iter
    print(f)

AdamicAdar.txt
jaccard.txt
katz_beta001txt
katz_beta01txt

# Betweenness

In [180]:
df_betweenness = pd.read_csv(betweenness_path, sep='\t', header=None)
df_betweenness.columns = ['keyword1', 'keyword2', 'betweenness']
df = df_betweenness.set_index(['keyword1', 'keyword2'])

In [189]:
pd.concat([df, df_iter])

,betweenness,keyword1,keyword2,AdamicAdar
"(All-in-one indicator, Altmetric score)",0.000001,NaN,NaN,NaN
"(All-in-one indicator, Altmetrics)",0.001344,NaN,NaN,NaN
"(1 Nano enabled drug delivery, Bibliography analysis)",0.000001,NaN,NaN,NaN
"(1 Nano enabled drug delivery, Graphene)",0.000007,NaN,NaN,NaN
"(1 Nano enabled drug delivery, Specialization score)",0.000001,NaN,NaN,NaN
...,...,...,...,...
512426,NaN,Absorptive capacity in science base,ASEAN,0.155606
512427,NaN,Absorptive capacity in science base,ANOVA,0.155606
512428,NaN,Absorptive capacity in science base,'Journal impact factor,0.155606
512429,NaN,ASEAN,ANOVA,0.155606
512430,NaN,ASEAN,'Journal impact factor,0.155606

In [195]:
df = pd.DataFrame()
for i, df_iter in enumerate(list(result.values())):
    df_iter = df_iter.set_index(['keyword1', 'keyword2'])
    df = pd.concat([df, df_iter], axis=1, sort=False)
#     print(i)

0
1
3

In [201]:
df_betweenness = df_betweenness.set_index(['keyword1', 'keyword2'])
df = pd.concat([df, df_betweenness], axis=1, sort=False)

In [213]:
df.to_pickle('output_scoresheet\\scoresheet.pkl')

###

In [376]:
for k in eva.keys():
    print(k)

AdamicAdar
jaccard
katz_beta001txt
katz_beta01txt

In [382]:
evaluation = eva['katz_beta01txt']
num_connections = int(evaluation['tp'][0]+evaluation['fn'][0])
num_connections

3772

In [384]:
def compute_confusion(evaluation, num_connections):
    
    def add_0_for_cal(X):
        
        C = pd.DataFrame()
        C = C.append([[0, 0, num_connections, -1]])
        C.columns = X.columns
        X = C.append(X)
        
        return X

    X = add_0_for_cal(evaluation)[:-1]
    Y = add_0_for_cal(evaluation)[1:]
    X = X.reset_index()
    X = X.drop(columns=['index'])
    res = Y-X

    return res

df_confusions = dict()

for k in eva.keys():
    evaluation = eva[k]
    num_connections = int(evaluation['tp'][0]+evaluation['fn'][0])
    
    print('-'*10, k, num_connections)
    df_confusion = compute_confusion(evaluation, num_connections)
    df_confusions[k] = df_confusion

---------- AdamicAdar 3772
---------- jaccard 3772
---------- katz_beta001txt 3772
---------- katz_beta01txt 3772

In [388]:
eva['AdamicAdar']

           tp        fp      fn   tn
0         1.0       0.0  3771.0 -1.0
1         1.0       1.0  3771.0 -1.0
2         1.0       2.0  3771.0 -1.0
3         1.0       3.0  3771.0 -1.0
4         1.0       4.0  3771.0 -1.0
...       ...       ...     ...  ...
512426  432.0  511995.0  3340.0 -1.0
512427  432.0  511996.0  3340.0 -1.0
512428  432.0  511997.0  3340.0 -1.0
512429  432.0  511998.0  3340.0 -1.0
512430  432.0  511999.0  3340.0 -1.0

[512431 rows x 4 columns]

In [393]:
a = df_confusions['AdamicAdar']
a[a['tp']==1]

         tp   fp   fn   tn
0       1.0  0.0 -1.0  0.0
17      1.0  0.0 -1.0  0.0
26      1.0  0.0 -1.0  0.0
36      1.0  0.0 -1.0  0.0
47      1.0  0.0 -1.0  0.0
...     ...  ...  ...  ...
489989  1.0  0.0 -1.0  0.0
492671  1.0  0.0 -1.0  0.0
507570  1.0  0.0 -1.0  0.0
508530  1.0  0.0 -1.0  0.0
510564  1.0  0.0 -1.0  0.0

[432 rows x 4 columns]

In [396]:
a[a['fn']==-1]

         tp   fp   fn   tn
0       1.0  0.0 -1.0  0.0
17      1.0  0.0 -1.0  0.0
26      1.0  0.0 -1.0  0.0
36      1.0  0.0 -1.0  0.0
47      1.0  0.0 -1.0  0.0
...     ...  ...  ...  ...
489989  1.0  0.0 -1.0  0.0
492671  1.0  0.0 -1.0  0.0
507570  1.0  0.0 -1.0  0.0
508530  1.0  0.0 -1.0  0.0
510564  1.0  0.0 -1.0  0.0

[432 rows x 4 columns]

In [398]:
b = eva['AdamicAdar']
b[['tp']]

           tp
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
...       ...
512426  432.0
512427  432.0
512428  432.0
512429  432.0
512430  432.0

[512431 rows x 1 columns]

In [399]:
b[['fn']]

            fn
0       3771.0
1       3771.0
2       3771.0
3       3771.0
4       3771.0
...        ...
512426  3340.0
512427  3340.0
512428  3340.0
512429  3340.0
512430  3340.0

[512431 rows x 1 columns]

In [401]:
df_betweenness = df_betweenness.reset_index()
df_betweenness

                          keyword1               keyword2  betweenness
0             All-in-one indicator        Altmetric score     0.000001
1             All-in-one indicator             Altmetrics     0.001344
2     1 Nano enabled drug delivery  Bibliography analysis     0.000001
3     1 Nano enabled drug delivery               Graphene     0.000007
4     1 Nano enabled drug delivery   Specialization score     0.000001
...                            ...                    ...          ...
3767                   fa(k)-index            fp(k)-index     0.000001
3768                   fa(k)-index           fas(k)-index     0.000001
3769                  fas(k)-index            fp(k)-index     0.000001
3770                       g-index                h-index     0.000361
3771                 h-Core scores                h-Index     0.000286

[3772 rows x 3 columns]

In [407]:
b = result['jaccard']
b[b['actual']==0]

,keyword1,keyword2,jaccard,predict,actual
1,Infringement analysis,Convergence analysis,1.000000,1,0.0
2,Arctic studies,Antarctic studies,1.000000,1,0.0
3,Panel threshold regression,Panel smooth transition regression (PSTR),0.800000,1,0.0
4,Source normalized indicator,ACCA,0.750000,1,0.0
5,Quasi experimental design,Impact on research,0.750000,1,0.0
...,...,...,...,...,...
512426,Document types,Bibliometrics,0.001587,1,0.0
512427,Bibliometrics,Author disambiguation,0.001587,1,0.0
512428,Life-time,Bibliometrics,0.001580,1,0.0
512429,UK,Bibliometrics,0.001577,1,0.0
512430,Model,Bibliometrics,0.001570,1,0.0

In [402]:
df_confusions['jaccard']

         tp   fp   fn   tn
0       0.0  1.0  0.0  0.0
1       0.0  1.0  0.0  0.0
2       0.0  1.0  0.0  0.0
3       0.0  1.0  0.0  0.0
4       0.0  1.0  0.0  0.0
...     ...  ...  ...  ...
512426  0.0  1.0  0.0  0.0
512427  0.0  1.0  0.0  0.0
512428  0.0  1.0  0.0  0.0
512429  0.0  1.0  0.0  0.0
512430  0.0  1.0  0.0  0.0

[512431 rows x 4 columns]

In [368]:
df_confusion['tp']

511999.0

In [375]:
import numpy as np
result['jaccard']['predict'] = np.array([1]*len(result['jaccard']))
result['jaccard']['actual'] = df_confusion['tp']
result['jaccard']

,keyword1,keyword2,jaccard,predict,actual
0,Soft fuzzy rough set,International co-authorships,1.000000,1,1.0
1,Infringement analysis,Convergence analysis,1.000000,1,0.0
2,Arctic studies,Antarctic studies,1.000000,1,0.0
3,Panel threshold regression,Panel smooth transition regression (PSTR),0.800000,1,0.0
4,Source normalized indicator,ACCA,0.750000,1,0.0
...,...,...,...,...,...
512426,Document types,Bibliometrics,0.001587,1,0.0
512427,Bibliometrics,Author disambiguation,0.001587,1,0.0
512428,Life-time,Bibliometrics,0.001580,1,0.0
512429,UK,Bibliometrics,0.001577,1,0.0
512430,Model,Bibliometrics,0.001570,1,0.0

                link            no-link
                +--------------+---------------+
     predict    | tp           | fp            |
     value      | ret & rel    | ret & ~rel    |
                +--------------+---------------+
     no-predict | fn           | tn            |
     NA         | ~ret & rel   | ~ret & ~rel   |
                +--------------+---------------+

        Arguments
        ---------
        retrieved : a list or set
            iterable of the retrieved items

        relevant : a list or set
            iterable of the relevant items

        universe : a list or set, an int or None
            If universe is an iterable, it is interpreted as the set of all
            items in the system. If universe is an int, it is interpreted as
            the *number* of items in the system. This allows for fewer checks
            but is more memory-efficient. If universe is None, it is supposed
            to be unknown. This still allows for some measures, including
            precision and recall, to be calculated.

In [410]:
df

                                                 AdamicAdar  jaccard  \
keyword1               keyword2
'Journal impact factor Project 985" university"         NaN      NaN
(h)over-bar            'Journal impact factor           NaN      NaN
                       Project 985" university"         NaN      NaN
(h)over-bar-core       'Journal impact factor           NaN      NaN
                       Project 985" university"         NaN      NaN
...                                                     ...      ...
z-score                research assessment              NaN      NaN
                       solar cells (DSSCs)              NaN      NaN
                       v-Index                          NaN      NaN
                       w-Index                          NaN      NaN
                       z-Index                          NaN      NaN

                                                 katz_beta001   katz_beta01  \
keyword1               keyword2
'Journal impact factor Project 985" university"  2.068000e-12  2.680000e-08
(h)over-bar            'Journal impact factor    2.537956e-08  4.558560e-05
                       Project 985" university"  1.200000e-14  1.200000e-09
(h)over-bar-core       'Journal impact factor    2.537956e-08  4.558560e-05
                       Project 985" university"  1.200000e-14  1.200000e-09
...                                                       ...           ...
z-score                research assessment       1.017000e-12  1.170000e-08
                       solar cells (DSSCs)       2.300000e-14  2.300000e-09
                       v-Index                   4.272000e-12  6.720000e-08
                       w-Index                   5.304000e-12  8.040000e-08
                       z-Index                   1.089600e-11  1.896000e-07

                                                 betweenness
keyword1               keyword2
'Journal impact factor Project 985" university"          NaN
(h)over-bar            'Journal impact factor            NaN
                       Project 985" university"          NaN
(h)over-bar-core       'Journal impact factor            NaN
                       Project 985" university"          NaN
...                                                      ...
z-score                research assessment               NaN
                       solar cells (DSSCs)               NaN
                       v-Index                           NaN
                       w-Index                           NaN
                       z-Index                           NaN

[7858845 rows x 5 columns]